/*Fonte do titulo*/
@font-face {
    font-family: Barrio;
    src: url(../fonts/font-home/BreeSerif-Regular.ttf)
}   

/*Fonte dos textos de navegação*/
@font-face {
    font-family: seasons;
    src: url(../fonts/font-home/Demo_Fonts/Fontspring-DEMO-theseasons-bd.otf)
} 

@font-face {
    font-family: marry;
    src: url(/src/fonts/font-home/Merriweather-VariableFont_opsz\,wdth\,wght.ttf)
}

@font-face {
    font-family: Questrial;
    src:url(/src/fonts/font-home/Questrial-Regular.ttf)
}

@font-face {
    font-family: Poppins;
    src: url(/src/fonts/font-home/Poppins/Poppins-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    background-color: #F2F0EB;
}

/*Define as propriedades gerais da página*/
.home {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100vw;
    max-width: 1200px;
    min-width: 700px;
    background-color: #F2F0EB;
    z-index: 0;
}

/*Define as propriedades da nav-bar*/
#nav-bar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 90%;
    height: 70px;
    min-width: 700px;
    max-width: 1200px;
    background-color: white;
    margin-top: 1rem;
    border-radius: 35px;
    overflow: hidden;
    z-index: 5;
}

/*Espaço especifico da logo*/
#area-logo {
    display: flex;
    justify-content: center;
    width: 30%;
    max-width: 400px;
    height: 100%;
    overflow: hidden;
}

#area-logo img{
    max-height: 150%;
    width: fit-content;
    transform: scale(160%);
}

/*Area para edição da area de navegação da nav-bar*/
#area-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%; 
    height: 100%;   
}

#area-navegacao a{
    font-family: Barrio;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    transition: ease-in-out 0.3s;
    
}

#area-navegacao a:hover {
    color: #056F33;
}


/* Estilizando o contêiner */
.login-cadastro {
    display: flex;
    gap: 2rem;
    width: 20%; 
    height: auto;
    align-items: center;
    margin-right: 3rem;
}

/* Estilizando o botão de login */
#login {
    background-color: green; 
    color: white; 
    border: none; 
    padding: 10px 50px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 25px; 
    transition: background-color 0.3s ease; 
}

/* Estilizando o botão de login quando o mouse passar sobre ele */
#login:hover {
    background-color: darkgreen; 
}

/* Estilizando o link de cadastro */
#cadastro {
    display: block; 
    color: #515150; 
    text-decoration: none; 
    font-size: 20px; 
    font-family: Barrio;
}


#cadastro:hover {
    color: green; 
    cursor: pointer;
}

/*esta div é a div pai da parte principal da pagina home*/
.conteudo {
    display: flex;
    height: calc(100% - 70px);
    width: 90%;
    justify-content: center;
    align-items: center;
}


/*Tudo que esta dentro da div area esquerda*/
.area-esquerda {
    display: flex;
    margin-left: 2rem;
    padding-top: 20%;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: start;
}

.informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#h1-padrao {
    font-family: Barrio;
    max-width: 95%;
    font-size:70px;
    font-weight: 400;
}

#h1-padrao span {
    font-family: Barrio;
}

.barra-separadora {
    display: flex;
}

#barra-separar {
    display: block;
    width: 200px;
    height: 3px;
    border-radius: 6px;
    background-color: #FFD114;
    margin-top: 2rem;
}

#texto-verde{
    color: #034C1B;
    font-family: Arial, Helvetica, sans-serif;
}

.area-esquerda p {
    padding-top: 3rem ;
    font-family:marry;
    font-size: 18px;
    color: #515150;
}


/*Div que cuida da area em que o botao FALE CONOSCO ficará*/
.area-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.area-btn button {
    background-color: #056F33;
    color: white;
    width: 200px;
    height: 55px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s;
}   

.area-btn button:hover {
    background-color: #034C1B;
}

.area-btn button:active {
    transform: scale(96%);
}

.area-direita {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    padding-left: 10%;
    height: 100%;
    width: 50%;
}

#img-milho{
    display: flex;
    height: 28rem;

}

#img-dinheiro{
    height: 20rem;
    width: fit-content;
    position: absolute;
    z-index: 0;
    left: 42%;
}

.area-direita img {
    border-radius: 15px;
    transition: all 0.3s;
}

.area-direita img:hover {
    transform: scale(105%);
}

/*APARTIR DAQUI ESTA A ESTILIZAÇÃO DO MONITORAMENTO*/

.home-monitoramento {
    display: flex;
    margin-top: 4rem;

}

.monitoramento-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin-top: 8rem;

}

.monitoramento-direita {
    display: flex;
    align-items: center;
    width: 40%;
} 

.monitoramento-titulo-subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

}

.monitoramento-esquerda h2 {
    font-family: Questrial;
    max-width: 95%;
    font-size: 45px;
    font-weight: 600;
}

.monitoramento-esquerda p {
    font-family: Poppins;
    max-width: 95%;
    font-size: 16px;
    font-weight: 400;
    color: #515150;
}

.monitoramento-sat-receita{
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.area-img-sat {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.topo-sat {
    display: flex;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
}

.monitoramento-porcentagem-sat {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

.monitoramento-porcentagem-rec p{
    color: black;
    font-size: 25px;
}

.monitoramento-porcentagem-rec span{
   font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

#porcentagem {
    color: black;
    font-size: 25px;
}


.area-img-sat img {
    width: 5.5rem;
}

.area-img-rec {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 11rem;
}

.topo-rec {
    display: flex;
}

.topo-rec span {
    font-family:  Poppins;
    font-size: 35px;
    font-weight: 600;
}

.area-img-rec img {
    width: 5rem;
} 

.monitoramento-direita {
    display: flex;
    justify-content: center;
    width: 40%;
}

#img-drone-colheita {
    height: 70%;
    width: auto;
    max-width: 100%;
    border-radius: 30px;
}


/*Area de edição para adequação a dispositivos com diferentes telas*/
@media(max-width: 1000px) {
    #area-logo img{
        margin-left: 2rem;
        transform: scale(130%);
        margin-bottom: 3.5%;
    }

    #h1-padrao {
        font-family: Barrio;
        max-width: 90%;
        font-size: 45px;
        font-weight: 400;
    }

    #barra-separar {
        display: block;
        width: 200px;
        height: 2px;
        border-radius: 6px;
        background-color: #FFD114;
        margin-top: 2rem;
    }

    #img-milho{
        height: 15rem;
    }
    
    #img-dinheiro{
        height: 10rem;
    }

}

/*FIM DA ESTILIZAÇÃO DA HOME*/

